body {
  background: #ff5757;
}

.navbar{
  background: rgb(255, 177, 177);
}

.navbar a{
  color: black;
}
.navbar li{
  display: inline-block;
  color: black;
  margin-left:  15px;
}

.header{
  color: black;
  font-size: 50px;
}

a.navbar-brand{
  margin-left: 10px;
  padding: 10px;
  background-color: cornsilk;
  font-size: 25px;
}

.container1{
  margin: 50px;
  background: cornsilk;
  padding: 50px;
  float: left;
}

.container2{
  margin-top: 50px;
  background: cornsilk;
  padding: 10px;
  float: left;
}


img {
  float:left;
  padding: 10px;
}
p {
  float:right;
}
table{
  min-height: 100%;
}

