<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heart Disease</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Heart Disease</h1>
                <p>Input Health Measures Here</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form action="http://localhost:5000/send" method="post" role="form" , name="petform">
                        <div class="form-group">
                            <label for="inputName">Age</label>
                            <input type="number" class="form-control" id="inputName" name="age" placeholder="Age">
                        </div>
                        <div class="form-group">
                            <label for="inputLat">Sex</label>
                            <input type="number" class="form-control" id="inputLat" name="sex" placeholder="Sex">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Chest Pain</label>
                            <input type="number" class="form-control" id="inputLon" name="cp" placeholder="Chest Pain?">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Resting BPM</label>
                            <input type="number" class="form-control" id="inputLon" name="restbpm" placeholder="Resting Beats Per Minute">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Cholesterol</label>
                            <input type="number" class="form-control" id="inputLon" name="chol" placeholder="Cholestorol">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Fasting Blood Sugar</label>
                            <input type="number" class="form-control" id="inputLon" name="fbs" placeholder="fbs">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">resting electrocardiographic results</label>
                            <input type="number" class="form-control" id="inputLon" name="ecg" placeholder="restecg">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Max Heart rate</label>
                            <input type="number" class="form-control" id="inputLon" name="maxhr" placeholder="Maximum Heart Rate">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">exercise induced angina</label>
                            <input type="number" class="form-control" id="inputLon" name="exang" placeholder="exercise induced angina">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Old Peak</label>
                            <input type="number" class="form-control" id="inputLon" name="oldpeak" placeholder="oldpeak">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Slope</label>
                            <input type="number" class="form-control" id="inputLon" name="slope" placeholder="the slope of the peak exercise ST segment">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">CA</label>
                            <input type="number" class="form-control" id="inputLon" name="ca" placeholder="number of major vessels (0-3) colored by flourosopy">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>

        </div>

    </body>

</html>